---

---
<section class="flex flex-col-reverse md:flex-row md:h-screen w-full">
  <!-- Parte Izquierda: Imagen -->
  <div class="md:w-1/2 w-full md:h-full flex items-center justify-center bg-gray-100">
    <img 
      src= "/monta-carga.webp"
      alt="Montacarga Transcoralv" 
      class="object-cover h-full w-full max-h-[100vh]"
    />
  </div>
  <!-- Parte Derecha: Texto -->
  <div class="md:w-1/2 w-full md:h-full flex flex-col justify-center px-4 py-10 md:px-35 md:py-12 bg-gray-100">
    
    <h3 class="text-[#bf931a] text-lg font-semibold mb-3 tracking-wide uppercase">¿POR QUÉ ELEGIR TRANSCORALV?</h3>
    <h2 class="text-[#c8102e] text-3xl md:text-4xl font-bold mb-6">Su socio logístico con visión de futuro</h2>
    <p class="text-gray-700 text-base md:text-lg mb-4">
      Con más de 20 años de experiencia, TRANSCORALV S.A. lidera el transporte de carga pesada en Ecuador, ofreciendo soluciones innovadoras y seguras para graneles, combustibles y carga especializada.
    </p>
    <p class="text-gray-700 text-base md:text-lg mb-4">
      Nuestra flota propia, taller mecánico interno y certificación BASC garantizan operaciones eficientes y confiables, diseñadas para optimizar su cadena de suministro.
    </p>
    <div>
    <button
  class="mt-4 px-6 py-2 bg-[#c8102e] text-white text-sm font-semibold uppercase tracking-wide transition-colors duration-200 hover:bg-[#000000] focus:outline-none"
  style="border-radius: 0;"
>
  Nosotros
    </button>
    </div>
</div>
</section>