---
import Facebook from '../assets/svg/facebook-svgrepo-com.svg';
import Instagram from '../assets/svg/instagram.svg';
import LinkedIn from '../assets/svg/linkedin.svg';
---
<footer class="bg-black text-white py-30">
    <div class="relative h-full flex flex-col justify-center items-center text-white">
     <div class="footer-content">
        <p>@ 2025 Transcoralv S.A. Todos los derechos reservados.</p>
        <div class="flex flex-row gap-x-2 items-center justify-center">
            <a href="https://www.facebook.com/transcoralv" target="_blank" rel="noopener noreferrer"><Facebook class="w-14.5 h-14.5 hover:scale-125 transition"/></a>
            <a href="https://www.instagram.com/transcoralv/" target="_blank" rel="noopener noreferrer"><Instagram class="w-14.5 h-14.5 hover:scale-125 transition"/></a>
            <a href="https://www.linkedin.com/company/transcoralv/" target="_blank" rel="noopener noreferrer"><LinkedIn class="w-14 h-14 hover:scale-125 transition"/></a>
     </div>
    </div>
</footer>